body {
    background-color:yellow;
}
h1 {
    color:red;
    font-size: 50px
    text-aling: center;
 
}

h2{
    color:greenyellow;
    font-size: 40px
    text-aling: center; 
}


p{
    color:deeppink;
    font-size: 30px;
    text-aling: justify;
}